{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
  Add a category
{% endblock %}

{% block body_block %}

<h1>Add a category</h1>

<form role="form" id="page_form" method="POST" action="{% url 'add_category' %}">
  <h2 class="form-signin-heading"> Add a Page to <a href="/djview/category/{{ category.slug }}/">{{ category.name }}</a></h2>
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {{ field }}
  {% endfor %}

  <button class="btn btn-primary" type="submit" name="Submit">Add page</button>
</form>

{% endblock %}
