<!DOCTYPE html>

<html>
  <head>
    <title>
      {% block title %}
        Welcome to DJAAKS
      {% endblock %}
    </title>
  </head>

  <body>
    <div>
      {% block body_block %}
      {% endblock %}
    </div>

    <hr />

    <div>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="/djview/restricted/">Restricted Page</a></li>
          <li><a href="/djview/logout/">Logout</a></li>
          <li><a href="/djview/add_category/">Add Category</a></li>
        {% else %}
          <li><a href="/djview/register/">Register</a></li>
          <li><a href="/djview/login/">Login</a></li>
        {% endif %}

        <li><a href="/djview/about/">About</a></li>
      </ul>
    </div>
  </body>

</html>
