{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
  DJAAKS Index
{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
  <div class="page-header">
    <h2>DJAAKS says... hello {{ user.username }}!</h2>
  </div>

  <div class="row placeholders">
    <div class="col-xs-12 col-sm-6 placeholder">
      <h4>Categories</h4>
      {% if categories %}
        <ul class="list-group">
        {% for category in categories %}
          <li class="li-group-item"><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
      {% else %}
         <strong>There are no categories present.</strong>
      {% endif %}
    </div>

     <div class="col-xs-12 col-sm-6 placeholder">
      <h4>Pages</h4>
      {% if pages %}
        <ul>
        {% for page in pages %}
          <li><a href="{{page.url}}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
      {% else %}
        <strong>There are no categories present.</strong>
      {% endif %}
     </div>
  </div>

{% else %}
  <div class="page-header">
    <h1>DJAAKS says... hello unknown user!</h1>
  </div>
{% endif %}

<p> visits: {{ visits }}</p>

{% endblock %}
