{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
  Welcome to DJAAKS
{% endblock %}

{% block body_block %}
  {% if user.is_authenticated %}
    <h1>DJAAKS says .... hello {{ user.username }}</h1>
    <a href="/djview/restricted/">Restricted page</a>
    <br />
    <a href="/djview/logout/">Logout</a>

    {% if categories %}
      <ul>
        {% for category in categories %}
          <li><a href="/djview/category/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
    {% else %}
      <strong>No categories present</strong>
    {% endif %}

    <br />
    <a href="/djview/add_category/">Add a new category</a>
    <br />
    <a href="/djview/about">About</a>
    <br />

    <img src="{% static "images/github-mark.png" %}" alt="Github rules" />

  {% else %}
      <h1>DJAAKS says .... hello unknown user</h1>
      <a href="/djview/register/">Register here</a>
      <br />
      <a href="/djview/user_login/">Login</a>
  {% endif %}

  <p>Visits: {{ visits  }}</p>

{% endblock %}
